<!DOCTYPE html>
<html>
<head>
  <title>Joke Generator</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>😂 Random Joke</h1>
  <p><%= joke %></p>

  <form action="/" method="get">
    <button type="submit">Get Another Joke</button>
  </form>
</body>
</html>
